%h1 Создать новый спорт
%div.row
	%div.form
		= form_for @user do |f|
			= render 'shared/error_messages'
			= f.label :login, 'Почта'
			= f.text_field :login
			= f.label :role, 'Кто вы'
			= f.select :role, @roles
			= f.label :password, 'Пароль'
			= f.password_field :password
			= f.label :password_confirmation, "Повторить пароль"
			= f.password_field :password_confirmation
			= f.submit 'Отправить'